/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
} */

.custom-btn {
  background-color: #363636 !important;
  color: #fff !important; /* Text color (usually white for better readability on the background color) */
  border: none; /* Remove the button border */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners if desired */
  cursor: pointer; /* Change the cursor on hover for a button effect */
  /* Add any other styles you want for the button */
}

.custom-btn:hover {
  background-color: black !important;
}

.custom-heading {
  background-color: #8cc003;
  color: white;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

body {
  margin: 40px;
}
* {
  box-sizing: border-box;
}
input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
.type-1 {
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s border-color;
}
.type-1:hover {
  border: 1px solid #aaa;
}

img {
  height: 75px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#svg-icon path {
  fill: pink;
}

.custom-h1 {
  letter-spacing: -0.03em;
  font-size: 40px !important;
  padding-bottom: 40px !important;
  text-shadow: 0px 0px 0px rgba(5, 9, 74, 0.15) !important;
}

.no-goal-selected {
  text-align: center;
}
