.progress-bar {
  width: 50%;
  border: 1px;
  height: 40px;
  border-radius: 20px;
  position: relative;
}

.filler {
  height: 100%;
  background: #a77337;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: bold;
  position: absolute;
  transition: width 0.5s;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.container {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
